name: Node CI with Sonar

on:
  push:
    branches: [ main ]

jobs:
  sonar:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'  # or your Node.js version

      - name: Install dependencies
        run: npm install

      - name: Run SonarQube Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          args: >
           -Dsonar.projectKey=GootySohail_NodeCI
           -Dsonar.organization=YOUR_ORG_KEY
           -Dsonar.sources=.
           -X
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
